@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
}

#root {
  height: 100%;
}
/* Layout */

.grid-container {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 4rem;
  height: 100%;
}

header {
  grid-area: header;
  background-image: linear-gradient(to top, #515E63, #57837B);
}

/* Logo */

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3rem;
  font-family: 'Concert One', cursive;
}

.logo img {
  max-height: 5rem;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #515E63;
  color: #ffffff;
}

/*Commom styles*/


a {
  text-decoration: none;
}
a:hover {
  color: #000;
}

/*Header*/

header a {
  color: #fff;
  padding: 1rem;
  font-weight: bolder;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

/* Images */

img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

/* Card */

.card {
  border: 0.1rem #9dacb3 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  max-width: 29rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 00.5rem;
  color: #515E63;
}

.price {
  font-size: 2rem;
}

/* Rating */

.rating span {
  color: #f0c040;
  margin: 0.1rem; 
}

.rating span:last-child {
  color: #404040;
}

.landing {
  background-color: #fdd8ce ;
  color: #515E63;
  width: 80vw;
  margin: 3rem auto 3rem auto;
  align-items: center;
  text-align: center;
  padding: 1rem 0 5rem 0;
  display: flex;
  flex-direction: column;
}

.landing button {
  background-image: linear-gradient(to top, #515E63, #57837B);
  color: #fff;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  max-width: 30%;
  margin-bottom: 3rem;
  margin-top: 2rem ;

}

.landing input{
  border: 0.1rem #6f7d83 solid;
  border-radius: 00.5rem;
}